<h1>Stores within 25 miles of <%= @zipcode %> </h1>
<!-- <h2><#%= @raw_stores[:total] %> Total Stores</h2> -->
<% @stores.each do |store| %>
  <h4>Name: <%= store.name %></h4>
  <p>City: <%= store.city %></p>
  <p>Distance: <%= store.distance %> Miles</p>
  <p>Phone: <%= store.phone %></p>
  <p>StoreType: <%= store.store_type %></p>
<% end %>
