<h1>Stores within 25 miles of 80202</h1>
<h2><%= @raw_stores[:total] %> Total Stores</h2>
<% @stores.each do |store| %>
  Name: <%= store[:longName] %>
  City: <%= store[:city] %>
  Distance: <%= store[:distance] %> Miles
  Phone: <%= store[:phone] %>
  StoreType <%= store[:storeType] %>
<% end %>
